<header id="header" class="animated fadeInDown">
    <div id="logo-group">
      <span id="logo"> <img src="assets/img/logo.png" alt="SmartAdmin"> </span>
    </div>
    <span  *ngIf="createAdmin"  id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">No tiene un usuario?</span> <a routerLink="/auth/register" class="btn btn-danger">Crear Usuario</a> </span>
  </header>
  <div id="main" role="main" class="animated fadeInDown">
  
    <div id="content" class="container">
  
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
          <h1 class="txt-color-red login-header-big">BotAdmin Console</h1>
          <div class="hero">
  
            <div class="pull-left login-desc-box-l">
              <h4 class="paragraph-header">Recupere su clave de acceso a la consola de administración.<br/>
                Se enviará un correo electrónico con su nueva clave.</h4>
            </div>
  
            <img src="assets/img/demo/iphoneview.png" class="pull-right display-image" alt="" style="width:210px">
  
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
          <div class="well no-padding">
            <form id="login-form" class="smart-form client-form">
              <header>
                Olvidé mi Clave
              </header>
              <fieldset>
                <section>
                  <label class="label">Ingrese su correo electrónico</label>
                  <label class="input"> <i class="icon-append fa fa-envelope"></i>
                    <input type="mail" name="mail" [(ngModel)]="mail">
                    <b class="tooltip tooltip-top-right"><i class="fa fa-envelope txt-color-teal"></i> Correo electrónico</b></label>
                </section>
                <section>
                      <span class="timeline-seperator text-center text-primary"> <span class="font-sm">O</span>
                </span></section>
                <section>
                  <label class="label">Ingrese su Código de Usuario</label>
                  <label class="input"> <i class="icon-append fa fa-user"></i>
                    <input type="text" name="username" [(ngModel)]="username">
                    <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Código de usuario</b> </label>
                  <div class="note">
                    <a routerLink="/auth/">Ya recordé mi clave!</a>
                  </div>
                </section>
  
              </fieldset>
              <footer>
                <button (click)="resetClave($event)" class="btn btn-primary">
                  <i class="fa fa-refresh"></i> Generar Clave
                </button>
              </footer>
            </form>
  
          </div>
  
          
        </div>
      </div>
    </div>
  
  </div>
  
  