<div class="stopwordsTable">
  <p-dataTable [value]="stopWords" selectionMode="single" [(selection)]="selectedStopword" [paginator]="true" [rows]="10" [responsive]="true"
    [alwaysShowPaginator]="false">
    <p-column field="word" header="Palabra" [sortable]="true"></p-column>
    <p-footer>
      <button pButton type="button" label="Agregar" icon="fa-plus" (click)="add()"></button>
      <button pButton type="button" label="Editar" icon="fa-pencil" (click)="edit()" [disabled]="!selectedStopword"></button>
      <button pButton type="button" label="Eliminar" icon="fa-trash-o" (click)="remove()" [disabled]="!selectedStopword"></button>
    </p-footer>
  </p-dataTable>
</div>
<p-messages [value]="msgs"></p-messages>
<p-confirmDialog header="Confirmación" icon="fa fa-trash" #cd>
  <p-footer>
        <button type="button" pButton icon="fa-check" label="Si" (click)="cd.accept()"></button>
        <button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
    </p-footer>
</p-confirmDialog>
<p-dialog header="StopWords" [(visible)]="displayDialog"
          [responsive]="true" showEffect="fade" [modal]="true">
    <form #stopWordForm="ngForm" novalidate>
      <div class="ui-grid ui-grid-responsive ui-fluid">
        <div class="ui-g ui-g-12 ui-g-nopad">
          <div class="ui-g-12 ui-md-3 ui-label">
            <label for="word">Palabra</label>
          </div>
          <div class="ui-g-12 ui-md-9">
            <input pInputText  id="word" name="word" required [(ngModel)]="stopWordForDialog.word" autofocus/>
          </div>
        </div>
      </div>
    </form>
    <p-footer>
        <button type="submit" pButton icon="fa-check" (click)="save()" label="Guardar" [disabled]="!stopWordForm.form.valid"></button>
        <button type="button" pButton icon="fa-close" (click)="cancel()" label="Cancelar" ></button>
    </p-footer>
</p-dialog>